/* @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.container {
  width: 350px;
  height: 460px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-container {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}


.item-1 {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  font-family: "Noto Serif", serif;
  width: 335px;
  height: 45px;
  background-color: rgb(128, 122, 122);
  border-radius: 6px;
  margin: 4px;
  transition: background-color 0.3s;
  border: none;
}

.item-1:hover {
  background-color: darkgrey;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.attribution {
  padding: 10px;
  padding-right: 200px;
  text-align: center;
} */
